<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wx Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet">
    <!-- <link  rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/swipe.css">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/nl.css">



</head>
<!--FONT WEIGHT, 300, 400, 700-->

<body>

    <div class="scrollbar__content">
            <div class="scrollbar__content__info" id="style-1">
                    <div class="scrollbar__content__info-force"></div>
                  </div>
    </div>

    <nav class="nav">

        <header class="nav__header">

            <div class="nav__header__container">
                <div class="nav__header__container__logo">
                    <figure><img src="imagenes/logo.png" alt="" width="100px"></figure>
                </div>

                <ul class="nav__header__container__links">
                    <li><a href="/home">Interfaz</a></li>
                    <li><a href="/precios">Precios</a></li>
                    <li><a href="#">Contáctenos</a></li>
                    <li><a href="#">Tutoriales</a></li>
                </ul>
            </div>


            <ul class="nav__header__contact">
                <li><a href="#"> 315-519-7540</a></li>
                <li><button>Cotizar</button></li>
            </ul>


            <div class="nav__header__toggle">
                <i class="fa fa-bars menu" aria-hidden="true"></i>
            </div>
        </header>

        <ul class="nav__column">
            <li><a href="#">Interfaz</a></li>
            <li><a href="/precios">Precios</a></li>
            <li><a href="#">Contáctenos</a></li>
            <li><a href="#">Tutoriales</a></li>
            <li><a href="#"> 315-519-7540</a></li>
            <li class="button"><button class="">Cotizar</button></li>
        </ul>

    </nav>

    <div class="banner">
        <div class="banner__in">

            <div class="banner__in__texto">

                <h2>Wx Manager</h2>
                <h1> Version 180</h1>
                <p>Facturación Electrónica, CRM, Envío Automático de Correos, Normas Internacionales, Manejo de Punto de
                    Pago Remoto, Dispositivos móviles, Personalización de Campos, Tutoriales. </p>
                <!--  <button>Descargar ahora</button> -->
                <a id="superButton" href="#" data-title="Descargar Ahora"></a>
            </div>


            <div class="banner__in__image">
                <img class="banner__in__img" src="imagenes/WebMaquetacion-02.png" alt="">
            </div>
        </div>

    </div>

    <section class="publicitario">
        <div class="publicitario__texto">
            <h1>Facturación Electrónica <b>Gratuita</b></h1>
        </div>
        <div class="publicitario__boton"> <button>Probar</button></div>
    </section>

    <section class="caracteristicas">
        <div class="caracteristicas__uno">
            <img src="imagenes/WebMaquetacion-03.png" alt="" width="250px;">
            <h2>Gestion Comercial</h2>
            <p>Realiza múltiples reportes al facturar productos y servicios, cotizaciones, remisiones entre muchos más
            </p>
        </div>

        <div class="caracteristicas__dos">
            <img src="imagenes/WebMaquetacion-04.png" alt="" width="250px">
            <h2>Inventarios</h2>
            <p>Conozca oportunamente la cantidad de productos que hay en su empresa de manera inmediata, le ofrecemos la
                mayor gama respecto a inventarios en el mercado.</p>
        </div>

        <div class="caracteristicas__tres">
            <img src="imagenes/WebMaquetacion-05.png" alt="" width="250px">
            <h2>Sistema POS</h2>
            <p>Nuestro sistema POS, es único en el mercado siendo autónomo sincroniza con el servidor o internet
                rápidamente reportes y múltiples servicios.</p>
        </div>

    </section>

    <section class="interaction">

        <main>
        
            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1">Facturación</label>
            
            <input id="tab2" type="radio" name="tabs">
            <label for="tab2">Inventario</label>
            
            <input id="tab3" type="radio" name="tabs">
            <label for="tab3">Sistema POS</label>
            
            <input id="tab4" type="radio" name="tabs">
            <label for="tab4">CRM</label>
            
            
            <section id="content1">
                <div class="interaction__info">
                    <div class="interaction__info__text">
                        <h1>Facturación Electrónica</h1>
                        <p>
                            Realice facturas con las mismas normativas legales por medio de un formato electrónico para reportarle a la DIAN. Esto le permitirá a usted y al comprador, la información generada después de realizar una compra.
                        </p>
                    </div>
                    <div class="interaction__info__image">
                        <img src="imagenes/facturacion.png" alt="">
                    </div>
                </div>
            </section>
            
            <section id="content2">
                    <div class="interaction__info">
                            <div class="interaction__info__text">
                                <h1>Inventarios</h1>
                                <p>
                                        Conozca oportunamente la cantidad de productos que hay en su empresa de manera inmediata, le ofrecemos la mayor gama respecto a inventarios en el mercado.                                </p>
                            </div>
                            <div class="interaction__info__image">
                                <img src="imagenes/inventarios.png" alt="" width="20%">
                            </div>
                        </div>
            </section>
            
            <section id="content3">
                    <div class="interaction__info">
                            <div class="interaction__info__text">
                                <h1>Sistema POS</h1>
                                <p>
                                        Nuestro sistema POS, es único en el mercado siendo autónomo sincroniza con el servidor o internet rápidamente reportes y múltiples servicios.
                                </p>
                            </div>
                            <div class="interaction__info__image">
                                <img src="imagenes/sistemapos.png" alt="" width="20%">
                            </div>
                        </div>
            </section>
            
            <section id="content4">
                    <div class="interaction__info">
                            <div class="interaction__info__text">
                                <h1>CRM</h1>
                                <p>
                                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum rerum odit labore esse eum et doloribus atque porro voluptatibus adipisci, maiores minima quo in suscipit dolor ipsa. Officia, nobis assumenda.
                                </p>
                            </div>
                            <div class="interaction__info__image">
                                <img src="imagenes/crm.png" alt="" width="20%">
                            </div>
                        </div>
            </section>
            
        </main>


    </section>


    <section class="specification">
        <div class="specification__image">
            <h1>Especificaciones</h1>
            <img class="specification__img" src="/gifs/try3.gif" alt="">
        </div>

        <div class="specification__text">
            
                <p>Contabilidad</p>
                <p>Cotizaciones comisiones</p>
                <p>Remisiones</p>
                <p>Gestión de Pedidos</p>
                <p>Gestión compras</p>
                <p>Recetas, Ensambles, Desensambles y GGF</p>
                <p>Control</p>
                <p> Mercancía en Consignación</p>
                <p> Gestión Despachos </p>

                <button>Ver más</button>
            
        </div>

    </section>


    <!--SWIPER 2-->

    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/imagenes/usuarios-08.png" alt="">
                <p>Wx Manager ofrece las mejores alternativas del mercado, controla el flujo de mi empresa</p>
            </div>
            <div class="swiper-slide">
                <img src="/imagenes/usuarios-09.png" alt="">
                <p>Antes encontrar un buen programa con todas las características que la contabilidad tiene era díficil
                </p>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
      <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>-->
    </div>

    <section class="newsletter">
        <div class="newsletter__data">
                <form action="/action_page.php">
                    <div class="newsletter__data__info">
                        <h1>Solicita una cotización desde hoy</h1>
                    </div>

                    <div class="newsletter__data__full">
                        <input type="text" placeholder="Nombre" name="name" required>
                        <input type="text" placeholder="Correo electrónico" name="mail" required>
                        <input type="text" placeholder="Celular" name="cellphone" required>

                    </div>
                    <div class="newsletter__data__button">
                        <input type="submit" value="Solicitar">
                    </div>
                </form>
       
        </div>


        <div class="newsletter__image">
            <img class="newsletter__container__img" src="/imagenes/newsletter.png" alt="">
        </div>

    </section>

    <section class="footer__cierre">

        <h3>Wx Manager | Todos los derechos reservados </h3>
    </section>


    <!--BUTTON 3D-->
    <script src="/js/script.babel.js" type="text/javascript"></script>

    <!--ZOOM-->
    <script src="/js/zoom.js" type="text/javascript"></script>

    <!--SWIPER 2-->
    <script src="/js/swipe.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            centeredSlides: true,
            autoplay: {
                delay: 6000,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>



    <!--TOGGLE NAVBAR-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.menu').click(function () {
                $('.nav__column').toggleClass('active');
            })
        })
    </script>

</body>

</html>