<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pagar</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400, 600, 700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/pagos.css">
</head>
<body>


    <section class="cuerpo">
        <div class="cuerpo__izq">
             
                    <div class="cuerpo__izq contenido">
            <h1><b>{{nombre}}</b></h1>
            <h1>${{precio}}/mes</h1>
            <img src="imagenes/pagos/person.png" alt="" width="100%">
       
        </div>
        </div>

        <div class="cuerpo__der">
             <div class="cuerpo__der contenido">
        <input type="button" value="Go Back From Whence You Came!" onclick="history.back(-1)" />
        <h1>Detalles de Pago</h1>

        <input type="text" id="fname" name="firstname" placeholder="Escribe tu nombre">
        <h3>Nombre del Comprador</h3>
        </div>

         <div class="cuerpo__der pago">
             <h2>PAGAR</h2>
         </div>
        </div>
    </section>


    
</body>
</html>