<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/personalizar.css">
</head>

<body>

    <div class="transacciones">

        <div id="quitarT"></div>
        <div id="transaccion"></div>
        <div id="agregarT"></div>

    </div>

    <div class="personas">

        <div id="quitarP"></div>
        <div id="persona"></div>
        <div id="agregarP"></div>

    </div>

    <div id="btnCotizar"></div>

    <script src="/js/personalizar.js"></script>

</body>

</html>