<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section class="precios">
        <div class="precios__text">

        </div>

        <div class="precios__iconos">
            <div class="precios__iconos__comparar">

            </div>
             <div class="precios__iconos__shop">
                
            </div>
        </div>

    </section>

    <section class="paquetes">


    </section>

    <section class="personalizado">
        <div class="personalizado__textos">

        </div>

        <div class="personalizado__iconos">
        
        <h1>{{titulo}}</h1>
        {{#each productos}}
        <article>
            <h2>{{name}}</h2>
        </article>
        {{/each}}

        </div>
    </section>

    </div>
</body>
</html>