<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Precios</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400, 600, 700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/precios.css">
</head>

<body>

 

    <section class="titulos">
        <h1>Selecciona tu paquete.</h1>
        <h2>Escoge las funciones que tu equipo de trabajo está necesitando actualmente. Haz crecer con facilidad tu negocio</h2>
    </section>


    <section class="paquetes">

       <button>COMPARAR PRODUCTOS</button>
        <div class="paquetes__item">
            <div class="paquetes__item contable">
                <h3>Contable</h3>
                <h4>Empieza desde</h4>
                <h1>$80.000/mes</h1>
                 <ul>
                    <li>Contabilidad</li>
                    <li>Impuestos</li>
                    <li>Facturación Electrónica</li>
                    <li>Estados Financieros</li>
                    <li>Parametrización</li>
                    <li>Cartera, Cobros</li>
                    <li>Proveedores</li>
                    <li>Ventas de Servicios</li>

                </ul>
                <button>COMPRAR</button>
                <ul>
                    <li><b>5</b> empleados en nómina</li>
                    <li><b>10 horas</b> de soporte</li> 
                   
                </ul>
            </div>
            <div class="paquetes__item basico">
                <h5>POPULAR</h5>
                  <h3>Básico</h3>
                <h4>Empieza desde</h4>
                <h1>$120.000/mes</h1>
                 <ul>
                    <li class="paquetes__item basico__lista"><b>Paquete contable +</b></li>
                    <li>Inventarios</li>
                    <li>Gestión de Ventas</li>
                    <li>Gestión de Compras</li>
                    <li>50 transacciones electrónicas</li>
                </ul>
                <button>COMPRAR</button>
                <ul>
                    <li><b>10</b> empleados en nómina</li>
                    <li><b>10 horas</b> de soporte</li> 
                   
                </ul>
            </div>

            <div class="paquetes__item pymes">
                  <h3>Pymes</h3>
                <h4>Empieza desde</h4>
                <h1>$150.000/mes</h1>
                 <ul>
                    <li class="paquetes__item pymes__lista"><b>Paquete básico +</b></li>
                    <li>Activos Fijos</li>
                    <li>Gestión de Compras</li>
                    <li>Liquidación Comisiones</li>
                    <li>POS Autonómo</li>
                    <li>Dispositivos Moviles</li>
                    <li>100 transacciones electrónicas</li>
                </ul>
                <button>COMPRAR</button>
                <ul>
                    <li><b>10</b> empleados en nómina</li>
                    <li><b>15 horas</b> de soporte</li> 
                   
                </ul>
            </div>

            <div class="paquetes__item premium">
                  <h3>Premium</h3>
                <h4>Empieza desde</h4>
                <h1>$200.000/mes</h1>
                 <ul>
                    <li  class="paquetes__item premium__lista"><b>Paquete Pymes +</b></li>
                    <li>Mercancía en Consignación</li>
                    <li>Control de Inventarios</li>
                    <li>Recetas, emsambles, etc</li>
                    <li>500 transacciones electrónicas</li>
                </ul>
                <button>COMPRAR</button>
                <ul>
                    <li><b>15</b> empleados en nómina</li>
                    <li><b>20 horas</b> de soporte</li> 
                   
                </ul>
            </div>
        </div>


    </section>

    <section class="titulosp">
         <h1>¡Arma tu paquete!</h1>
        <h2>Sabemos que te gusta personalizar tus productos, por ende hemos decidido darte la opción de armar tu propia cotización</h2>
    </section>

    <section class="armando">

        

    </section>

    <section class="personalizado">
        <div class="personalizado__textos">

        </div>

        <div class="personalizado__iconos">

            <h1>{{titulo}}</h1>
            {{#each productos}}
            <article>
                <h2>{{name}}</h2>
            </article>
            {{/each}}

        </div>
    </section>

    </div>
</body>

</html>