<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Precios</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/precios.css">
</head>

<body>

    <nav class="nav">

        <header class="nav__header">

            <div class="nav__header__container">
                <div class="nav__header__container__logo">
                    <figure><img src="imagenes/logo.png" alt="" width="100px"></figure>
                </div>

                <ul class="nav__header__container__links">
                    <li><a href="/home">Interfaz</a></li>
                    <li><a href="/precios">Precios</a></li>
                    <li><a href="#">Contáctenos</a></li>
                    <li><a href="#">Tutoriales</a></li>
                </ul>
            </div>


            <ul class="nav__header__contact">
                <li><a href="#"> 315-519-7540</a></li>
                <li><button>Cotizar</button></li>
            </ul>


            <div class="nav__header__toggle">
                <i class="fa fa-bars menu" aria-hidden="true"></i>
            </div>
        </header>

        <ul class="nav__column">
            <li><a href="#">Interfaz</a></li>
            <li><a href="/precios">Precios</a></li>
            <li><a href="#">Contáctenos</a></li>
            <li><a href="#">Tutoriales</a></li>
            <li><a href="#"> 315-519-7540</a></li>
            <li class="button"><button class="">Cotizar</button></li>
        </ul>

    </nav>

    <section class="precios">
        <div class="precios__text">

        </div>

        <div class="precios__iconos">
            <div class="precios__iconos__comparar">

            </div>
            <div class="precios__iconos__shop">

            </div>
        </div>

    </section>

    <section class="paquetes">

        <div class="paquetes__item">
            <div class="paquetes__item contable">
                <h3>CONTABLE</h3>
                <h2>$80.000/mes</h2>
                <h2>anual</h2>
                <ul>
                    <li>Contabilidad</li>
                    <li>Impuestos</li>
                    <li>Facturación Electrónica</li>
                    <li>Estados Financieros</li>
                </ul>
                <button>Comprar</button>
            </div>
            <div class="paquetes__item basico">
                <h3>BÁSICO</h3>
                <h2>$120.000/mes</h2>
                <h2>anual</h2>
                <ul>
                    <li>Contabilidad</li>
                    <li>Impuestos</li>
                    <li>Facturación Electrónica</li>
                    <li>Estados Financieros</li>
                    <li>20 Facturas por Mes</li>
                </ul>
                <button>Comprar</button>
            </div>

            <div class="paquetes__item pymes">
                <h3>PYMES</h3>
                <h2>$150.000/mes</h2>
                <h2>anual</h2>
                <ul>
                    <li>Contabilidad</li>
                    <li>Impuestos</li>
                    <li>Facturación Electrónica</li>
                    <li>Estados Financieros</li>
                    <li>20 Facturas por Mes</li>
                </ul>
                <button>Comprar</button>
            </div>
        </div>

        <div class="anexo">
            
            <div class="anexo__titulo">
                <h3>CONTABLE</h3>
                <h2>$80.000/mes</h2>
                <h2>anual</h2>
                <button>Comprar</button>
            </div>
            <div class="anexo__funciones">
                <ul>
                    <li>Contabilidad</li>
                    <li>Impuestos</li>
                    <li>Facturación Electrónica</li>
                    <li>Estados Financieros</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="personalizado">
        <div class="personalizado__textos">

        </div>

        <div class="personalizado__iconos">

            <h1>{{titulo}}</h1>
            {{#each productos}}
            <article>
                <h2>{{name}}</h2>
            </article>
            {{/each}}

        </div>
    </section>

    </div>
</body>

</html>